<?xml version="1.0" encoding="UTF-8"?>
<settings
	xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>nexus-releases</id>
			<username>${env.bamboo_nexus_username}</username>
			<password>${env.bamboo_nexus_password}</password>
		</server>
	</servers>
	<profiles>
		<profile>
			<id>shipnexus</id>
			<repositories>
				<repository>
					<id>nexus-releases</id>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<url>${env.bamboo_nexus_url}/repository/maven2-extended-proxy/</url>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile>
		<profile>
			<id>moe-schcp-release</id>
			<repositories>
				<repository>
					<id>nexus-releases</id>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<url>${env.bamboo_nexus_url}/repository/${env.bamboo_nexus_repo_name}/</url>
					<layout>default</layout>
				</repository>
			</repositories>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>shipnexus</activeProfile>
		<activeProfile>moe-schcp-release</activeProfile>
	</activeProfiles>
	<mirrors>
		<mirror>
			<id>central</id>
			<name>central</name>
			<url>${env.bamboo_nexus_url}/repository/maven2-extended-proxy/</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
</settings>